body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #EEEFEF;
}
header .desktop-header {
    display: none;
}
header .tablet-header {
    display: none;
}
header {
    height: 127px;
    width: 100%;
}
/* header-secondary */
header .header-secondary {
    height: auto;
    background-color: #01348d;
}
/* nav */
header .header-secondary .material-icons {
    position: absolute;
    cursor: pointer;
}
header .header-secondary #btn--open {
    display: block;
    padding: 4px;
    margin: 12px;
    background: white;
}
header .header-secondary #btn--close {
    display: none;
}
header .header-secondary nav {
    position: absolute;
    top: 0;
    height: 301%;
    width: 300px;
    background: white;
    transform: translateX(-100%);
    transition: .4s;
    z-index: 10;
}
header .header-secondary nav .nav-title {
    background: #f8f8f8;
    border-bottom: 2px solid #4f5569;
}
header .header-secondary nav .nav-title #btn--close {
    width: 40px;
    height: 40px;
    background-color: #4f5569;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 8px;
    box-sizing: border-box;
}
header .header-secondary nav .nav-title .nav-site {
    padding: 9px 18px;
    margin-right: 48px;
    height: 40px;
    box-sizing: border-box;
}
header .header-secondary nav .nav-title .nav-site ul li {
    float: left;
    padding: 4px 8px;
}
header .header-secondary nav .nav-title .nav-site ul li a {
    text-decoration: none;
    display: block;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.048em;
    color: #666;
}
header .header-secondary nav .side-menu li .nav-name {
    position: relative;
    line-height: 24px;
    color: #222;
    padding: 12px 16px;
    padding-right: 48px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.064em;
    cursor: pointer;
}
header .header-secondary nav .side-menu li .nav-name img {
    position: absolute;
    right: 0;
    margin: -2px 12px;
    opacity: 0.4;
}
header .header-secondary nav .side-menu li .nav-name .material-icons {
    display: none;
    position: absolute;
    right: 0;
    margin: -22px 12px;
    opacity: 0.4;
}
header .header-secondary nav .side-menu li .nav-contents {
    display: none;
}
header .header-secondary nav .side-menu li:hover .nav-name {
    color: #fff;
    background-color: #093787;
}
header .header-secondary nav .side-menu li:hover .nav-name img {
    display: none;
}
header .header-secondary nav .side-menu li:hover .nav-name .material-icons  {
    display: block;
}
header .header-secondary nav .side-menu li:hover .nav-contents {
    display: block;
}
header .header-secondary nav .side-menu li:hover .nav-name {
    background-color: #093787;
    color: #fff;
}
header .header-secondary nav .side-menu li .nav-contents a {
    display: block;
    text-decoration: none;
    position: relative;
    color: #444;
    padding: 9px 48px 9px 24px;
    background: #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: -0.064em;
    cursor: pointer;
}
header .corona {
    text-align: center;
    padding: 15px 0 5px 0;
    z-index: 10;
}
header .corona a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    height: 36px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
header .corona a span {
    display: none;
}
/* search */
header .search {
    position: absolute;
    margin: 12px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    right: 0px;
    top: 0;
}
header .search .material-icons {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 4px;
    box-sizing: border-box;
}
/* header-primary */
header .top-other {
    position: relative;
    width: 100%;
    height: 71px;
    background-color: #405985;
    overflow: hidden;
}
header .top-other .sns {
    float: left;
    margin-left: 0;
    padding: 5px 12px 5px 0;
    display: table;
    height: 24px;
}
header .top-other .sns li {
    display: table-cell;  
}
header .top-other .sns li img {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 2px;
    width: 29px;
    height: 29px;
    line-height: 40px;
}
header .top-other .sns li a {
    margin: 0 3px;
}
header .top-other .shim {
    width: 100%;
    display: table;
    height: 31px;
    border-top: 1px solid #0e91bb;
    background-color: #0b9bc9;
}
header .top-other .shim li {
    display: table-cell;
    padding-left: 0;
    vertical-align: middle;
    text-align: center;
}
header .top-other .shim li:nth-child(1) {
    width: 40%;
    border-right: 1px solid #23b8e9;
}
header .top-other .shim li:nth-child(2) {
    width: 30%;
    border-right: 1px solid #23b8e9;
}
header .top-other .shim li:nth-child(3) {
    width: 30%;
}
header .top-other .shim li a {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: -0.08em;
    color: #fff;
    line-height: 24px;
    cursor: pointer;
}
header .top-other .country {
    position: absolute;
    right: 0;
    top: 0;
    height: 41px;
    padding-right: 15px;
    float: left;
    display: table;
    padding-left: 7px;
}
header .top-other .country li {
    display: table-cell;
}
header .top-other .country li:nth-child(2) {
    padding-left: 15px;
}
header .top-other .country li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
}
/* main */
main {
    width: 100%;
    height: 100%;
    background-color: #eeefef;
    padding-top: 5px;
}
main .embanner {
    width: 100%;
    height: 100%;
    margin: 5px auto;
}
main .embanner #banner1 {
    display: none;
}
main .embanner > div > a {
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
main .embanner > div img {
    border: 1px solid rgba(115,117,149,0.5);
    width: 100%;
}
/* grid-container */
main .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 176px 369px 308px 966.52px 909.88px 189px 225.86px 180px 93px;
    gap: 4px;
    top: 10px;
    position: relative;
    background-color: #EEEFEF;
    padding: 0 25px;
    /* margin: 0 auto; */
    justify-content: center;
    padding-bottom: 10px
}
.grid-container> div {
    background-color: #EEEFEF;
    font-size: 30px;
}
/* item1 */
/* datalist */
main .grid-container .item1 {
    grid-column: 1 / span 2;
}
main .grid-container .item1 .datalist ul {
    position: relative;
    display: table;
    width: 100%;
}
main .grid-container .item1 .datalist .subtit {
    margin-right: 7px;
    font-size: 13px;
    color: #fff;
    vertical-align: middle;
}
main .grid-container .item1 .datalist .data {
    font-size: 19px;
    font-weight: 600;
    color: #ffd43e;
}
main .grid-container .item1 .datalist li {
    position: relative;
    display: table-cell;
    text-align: center;
    color: black;
}
main .grid-container .item1 .datalist ul li:first-child {
    background-color: #d7d9d5;
    color: #2c322a;
    width: 30%;
    line-height: 42px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}
main .grid-container .item1 .datalist ul li:nth-child(2) {
    border-right: 1px solid #539933;
    background-color: #288000;
    width: 35%;
    display: table-cell;
}
main .grid-container .item1 .datalist ul li:nth-child(3) {
    background-color: #288000;
    width: 35%;
    display: table-cell;
}
main .grid-container .item1 .datalist ul li img {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 10px;
    display: block;
    width: 21px;
    height: 21px;
}
/* liveNum */
main .grid-container .item1 .liveNum {
    position: relative;
    display: table;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
}
main .grid-container .item1 .liveNum ul {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 2px
}
main .grid-container .item1 .liveNum li {
    position: relative;
    display: table-cell;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 10px 6px 12px 6px;
    height: 90px;
}
main .grid-container .item1 .liveNum ul li:first-child {
    padding-right: 4px;
    padding-left: 0px;
    background-color: #0099ff;
    width: 30%;
}
main .grid-container .item1 .liveNum li .tit {
    display: block;
    height: 33px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
main .grid-container .item1 .liveNum li .num {
    display: block;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.06em;
}
main .grid-container .item1 .liveNum li .num em {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
}
main .grid-container .item1 .liveNum li .before {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}
main .grid-container .item1 .liveNum li .help {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 100%;
    right: 15px;
    top: 15px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 5px;
}
main .grid-container .item1 .liveNum .sign {
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    z-index: 2;
}
main .grid-container .item1 .liveNum li:nth-child(2) {
    background-color:#006699;
    width: 24%;
}
main .grid-container .item1 .liveNum li:nth-child(3) {
    background-color:#174069;
    position: relative;
    width: 25%;
}
main .grid-container .item1 .liveNum li:nth-child(4) {
    background-color:#808080;
    width: 21%;
}
main .grid-container .item1 .container-list1 {
    font-size: 0;
    margin-top: 2px;
    margin-bottom: 4px;
}
main .grid-container .item1 .container-list1 a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #174069;
    cursor: pointer;
}
main .grid-container .item1 .container-list1 a .timedata {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
main .grid-container .item1 .container-list1 a .more {
    font-size: 13px;
    color: #3d4656;
    position: absolute;
    right: 40px;
    margin-top: 4px;
}
main .grid-container .item1 .container-list1 a .more .more-icon {
    display: inline-block;
    background-color: #a7a7a7;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-left: 3px;
    width: 16px;
    height: 16px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}
/* item2 */
main .grid-container .item2 {
    grid-row: 4;
}
main .grid-container .item2 .graph {
    border-top: 4px solid #164068;
    position: relative;
    top: 31px;
    width: 65%;
    height: 605px;
}
main .grid-container .item2 .graph-detail {
    padding: 16px 20px;
    position: absolute;
    width: 33%;
    border-top: 4px solid #164068;
    border-left: 1px solid #CCCCCC;
    display: table-cell;
    font-size: 16px;
    top: 688px;
    height: 610px;
    box-sizing: border-box;
    background: white;
    margin-left: 59%;
}
main .grid-container .item2 .graph-detail h3 {
    display: block;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #222;
}
main .grid-container .item2 .graph-detail h4 {
    padding-left: 22px;
    position: relative;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #222;
    margin-top: 6px;
}
main .grid-container .item2 .graph-detail h4 .circle1 {
    background: #ffb911;
    border-radius: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 6px;
    left: 0;
}
main .grid-container .item2 .graph-detail h4 .circle2 {
    background: #4088da;
    border-radius: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 6px;
    left: 0;
}
main .grid-container .item2 .graph-detail h4 .circle3 {
    background: #d2f0fb;
    border-radius: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 6px;
    left: 0;
}
main .grid-container .item2 .graph-detail p {
    line-height: 19px;
    margin-top: 2px;
    font-size: 13px;
    color: #666;
    padding: 1px 0;
}
main .grid-container .item2 .container-list2 .region1 {
    background: #164068;
    padding: 2px 24px;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 0px;
    display: block;
    position: absolute;
    z-index: 5;
    margin-left: 4px;
}
main .grid-container .item2 .container-list2 .region1 span {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
main .grid-container .item2 .container-list2 .region1 em {
    color: #cae6f2;
    font-size: 14px;
    line-height: 22px;
    padding-left: 6px;
}
main .grid-container .item2 .container-list2 .region2 {
    padding: 2px 24px;
    border-radius: 14px;
    background: white;
    border: 1px solid #164068;
    font-size: 0px;
    position: absolute;
    box-sizing: border-box;
    margin-left: 276px;
    height: 28px;
}
main .grid-container .item2 .container-list2 .region2 span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #164068;
    letter-spacing: -0.75px;
}
main .grid-container .item2 .container-list2 .region2 em {
    font-size: 14px;
    line-height: 22px;
    padding-left: 6px;
    color: #778898;
}
/* item3 */
main .grid-container .item3 {
    border-top: 4px solid #164068;
    grid-row: 2;
    background: white;
    height: 184px;
}
main .grid-container .item3 .livetest {
    width: 30%;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    background-color: #eafdff;
    height: 184px;
}
main .grid-container .item3 h3 {
    color: #174069;
    font-size: 15px;
    padding-right: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
main .grid-container .item3 .info-core {
    width: 100%;
    padding-top: 15px;
}
main .grid-container .item3 .info-core li {
    font-size: 16px;
    padding: 5px 0;
    /* display: inline; */
}
main .grid-container .item3 .info-core li .tit {
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    width: 50%;
}
main .grid-container .item3 .info-core li .num {
    color: #174069;
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    text-align: right;
}
main .grid-container .item3 .info-core li .core {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}
main .grid-container .item3 .chart {
    padding: 0 200px;
    box-sizing: border-box;
    margin-left: 5%;
    width: 64.7%;
    height: 184px;
}
main .grid-container .item3 img {
    position: absolute;
    height: 184px;
    top: 205px;
}
/* item4 */
main .grid-container .item4 {
    border-top: 4px solid #164068;
    background-color:#E6F6FF;
    font-size: 16px;
    padding-top: 7px;
    grid-row: 3;
}
main .grid-container .item4 h3 {
    font-size: 15px;
    color: #174069;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
main .grid-container .item4 img {
    width: 100%;
    height: 219px;
    box-sizing: border-box;
    padding-top: 7px;
}
/* item5 */
main .grid-container .item5 {
    display: table;
    z-index: 2;
    grid-row: 6;
}
main .grid-container .item5 .quick-banner {
    display: table;
    width: 100%;
}
main .grid-container .item5 .quick-banner li {
    display: table-cell;
    width: 20%;
}
main .grid-container .item5 .quick-banner li a {
    text-decoration: none;
    padding: 8px;
    display: block;
    height: 96px;
    cursor: pointer;
    box-sizing: border-box;
}
main .grid-container .item5 .quick-banner li span {
    font-size: 15px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -0.075em;
    word-break: keep-all;
}
main .grid-container .item5 .quick-banner li span em {
    color: #ffeb99;
}
main .grid-container .item5 .quick-banner li span img {
    width: 36px;
    height: 24px;
    color: #fff;
}
main .grid-container .item5 .quick-banner li:first-child a {
    background: linear-gradient(to right, #4568aa, #1b336f 70%);
}
main .grid-container .item5 .quick-banner li:nth-child(2) a {
    background: #199b0f;
}
main .grid-container .item5 .quick-banner li:nth-child(3) a {
    background: #006666;
}
main .grid-container .item5 .quick-banner li:nth-child(4) a {
    background: #006699;
}
main .grid-container .item5 .quick-banner li:nth-child(5) a {
    background: #3889cb;
}
/* item6 */
main .grid-container .item6 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 7;
}
main .grid-container .item6 #slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
main .grid-container .item6 #slider .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
main .grid-container .item6 #slider .slide1 {
    background-image: url("../images/slide-image1.jpg");
}

main .grid-container .item6 #slider .slide2 {
    background-image: url("../images/slide-image2.png");
}

main .grid-container .item6 #slider .slide3 {
    background-image: url("../images/slide-image3.png");
}

main .grid-container .item6 #slider .slide4 {
    background-image: url("../images/slide-image4.jpg");
}
main .grid-container .item6 #slider .slide-content {
    width: 100%;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .grid-container .item6 #slider .slide-content span {
    font-size: 80px;
    color: #F6F5F0;
}
/* SLIDER ARROW */
main .grid-container .item6 #slider .arrow-left, main .grid-container .item6 #slider .arrow-right {
    position: absolute;
    top: 45%;
    font-size: 80px;
    margin-top: -60px;
    cursor: pointer;
    z-index: 2;
}
main .grid-container .item6 #slider .arrow-left {
    left: 10px;
}
main .grid-container .item6 #slider .arrow-right {
    right: 10px;
}
main .grid-container .item6 #slider .dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .grid-container .item6 #slider .dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background: #F6F5F0;
    margin: 0 3px;
    cursor: pointer;
    transition: .4s ease;
}
main .grid-container .item6 #slider .dots .dot1 {
    background: #1107ff;
    width: 30px
}
/* item6-5 */
main .grid-container .item6-5 {
    grid-row: 5;
}
/* item7 */
main .grid-container .item7 {
    border-top: 4px solid #164068;
    background: white;
    grid-row: 8;
}
main .grid-container .item7 h3 {
    color: #145663;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
main .grid-container .item7 .more{
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    background-color: #009fd1;
    color: #fff;
    margin-bottom: -3px;
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}
main .grid-container .item7 h4 {
    color: #164068;
    margin-left: 10px;
    padding: 0 3px;
    font-size: 13px;
    font-weight: 600;
}
main .grid-container .item7 a {
    text-decoration: none;
    font-size: 13px;
    color: #222222;
}
main .grid-container .item7 .title-list {
    padding: 4px 7px;
}
main .grid-container .item7 li {
    padding: 2px 0;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
}
/* item8 */
main .grid-container .item8 {
    border-top: 4px solid #164068;
    background: white;
    grid-row: 9;
}
main .grid-container .item8 h3 {
    color: #585041;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
main .grid-container .item8 .more{
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    background-color: #009fd1;
    color: #fff;
    margin-bottom: -3px;
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}
main .grid-container .item8 h4 {
    color: #164068;
    margin-left: 10px;
    padding: 0 3px;
    font-size: 13px;
    font-weight: 600;
}
main .grid-container .item8 a {
    text-decoration: none;
    font-size: 13px;
    color: #222222;
}
main .grid-container .item8 li {
    padding: 2px 0;
    line-height: 16px;
    font-size: 16px;
}
main .grid-container .item8 .title-list {
    padding: 4px 7px;
}
/* contanier-main */
main .contanier-main {
    background-color: white;
}
main .contanier-main > div {
    width: 95%;
    margin: 0 auto;
    padding: 24px;
    padding-bottom: 48px;
}
main .contanier-main h3 {
    position: relative;
    display: block;
    padding: 10px;
    width: 20%;
    height: 100%;
    background-color: #18407d;
    display: inline-block;
    color: #d1ffff;
}
main .contanier-main h3 .info {
    display: none;
}
main .contanier-main h3 .txt {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 600;
}
main .contanier-main ul {
    float: right;
    width: 75%;
    padding: 14px;
    background-color: #ccc;
}
main .contanier-main ul li {
    margin-left: 1.333%;
    width: 32%;
    background-color: #ddd;
}
main .contanier-main ul li img {
    height: 100%;
    width: 100%;
}
main .contanier-main ul li a {
    cursor: pointer
}
/* footer */
footer {
    width: 100%;
    border-top: 3px solid #333;
    background: #f8f8f8;
}
/* footer-secondary */
footer .footer-secondary > div {
    width: 1180px;
    margin: 0 auto;
}
footer .footer-secondary ul.footer-main {
    position: relative;
    display: flex;
    flex-grow: 1;
}
footer .footer-secondary ul.footer-main li.item {
    position: relative;
    display: block;
    padding: 12px 0;
    margin-right: 16px;
}
footer .footer-secondary ul.footer-main li.item .item-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}
footer .footer-secondary ul.footer-main li.item .item-title:hover {
    transition: .4s;
}
footer .footer-secondary ul.footer-main li.item .item-title .item-name {
    font-size: 13px;
    line-height: 14px;
    padding: 5px 0;
    padding-right: 4px;
}
footer .footer-secondary ul.footer-main li.item .item-title .material-icons {
    padding-left: 5px;
    color: #666;
}
footer .footer-secondary ul.footer-main li.item .item-title .arrow-down {
    display: none;
    padding-left: 5px;
}
footer .footer-secondary ul.footer-main li.item .item-contents {
    position: absolute;
    bottom: 40px;
    color: #666;
    background: #fff;
    max-height: 332px;
    overflow-y: auto;
    display: none;
    border: 1px solid #333;
    cursor: pointer;
}
footer .footer-secondary ul.footer-main li.item .item-contents> ul li:last-child {
    border-bottom: 0;
}
footer .footer-secondary ul.footer-main li.item:hover .material-icons {
    display: none;
}
footer .footer-secondary ul.footer-main li.item:hover .arrow-down {
    display: block;
}
footer .footer-secondary ul.footer-main li.item:hover .item-contents {
    display: block;
}
footer .footer-secondary ul.footer-main li.item .item-contents>ul li {
    transition: .4s;
    border-bottom: 1px solid #eee
}
footer .footer-secondary ul.footer-main li.item .item-contents> ul li a {
    text-decoration: none;
    width: 150px;
    display: block;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.05em;
    color: #666;
    padding: 8px 16px;
    cursor: pointer;
}
footer .footer-secondary ul.footer-main li.item .item-contents>ul li:hover {
    transition: .4s;
}
/* footer-primary */
footer .footer-primary {
    border-top: 1px solid #ddd;
}
footer .footer-primary > div {
    width: 1180px;
    height: 117px;
    margin: 0 auto;
    padding: 24px 0 48px 0;
    box-sizing: border-box;
}
footer .footer-primary .f-left {
    position: relative;
    font-size: 13px;
    color: #222222;
    float: left;
}
footer .footer-primary .f-left li {
    float: left;
    padding: 0 12px;
    letter-spacing: -0.048em;
    line-height: 14px;
    border-right: 1px solid #ddd;
}
footer .footer-primary .f-left li:first-child {
    font-size: 13px;
    color: #405985;
    font-weight: bold;
    padding-left: 0;
}
footer .footer-primary .copyright p {
    font-size: 12px;
    line-height: 19px;
    color: #666;
    margin-top: 25px;
}
footer .footer-primary .f-right {
    width: 56px;
    height: 40px;
    background: url(../images/mark_open.png) no-repeat 0 center;
    margin-top: -10px;
    float: right;
    text-align: right;
    cursor: pointer;
}
.btn-scrollToTop {
    position: fixed;
    bottom: 30px;
    width: 40px;
    right: calc((100% - 1100px)/2 - 100px);
    cursor: pointer;
    animation: float 6s ease infinite;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(0px);
    }
}